:host .list {
  padding: 0;
  cursor: pointer;
}

:host .list li {
  border: 1px solid #eee;
  text-decoration: none;
  list-style-type: none;
  padding: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:host .list li {
  border: 1px solid #eee;
  list-style-type: none;
  padding: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:host .search-list li {
  border: 1px solid black;
}

:host .search-list {
  background-color: #e8eaf6;
  position: absolute;
  top: 40px;
  left: 0;
  zIndex: 10;
  width: 100%;
}

:host .search-list li:hover {
  background-color: #eee;
}

:host .search-list li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

:host .search-list li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

:host .item-header {
  font-size: 12px;
  border-bottom: 1px solid rgba(150, 150, 150);
}

:host .item-description {
  font-weight: 300;
  font-size: 10px;
}

:host .date-picker {
  text-align: center;
}

:host h3 {
  text-align: center;
}

:host h4 {
  text-align: center;
}

:host .table-header {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin: 5px;
}

:host .table-header:hover {
  border: 1px solid black;
}
