<div class="container-fluid m-t-20">
  <div class="col-xs-3">

    <h3>Angular D3</h3>

    <div class="input-group">
      <input type="text" class="form-control" name="filter" type="text" [(ngModel)]="filter" placeholder="search" >
      <ul class="list search-list">
        <li *ngFor="let company of filteredCompanies" (click)="addCompany(company.symbol)">
          <span class="item-header">{{company.symbol}}</span><br />
          <span class="item-description">{{company.name}}</span>
        </li>
        <li *ngIf="isLoading">
          <span class="item-header">Loading...</span>
        </li>
      </ul>
    </div>

    <div class="m-t-10">
      <ul class="list">
        <li
          *ngFor="let company of myCompanies; let i = index"
          (click)="toggleOnChart(i)"
          [style.background-color]="company.onChart ? color(i) : ''">
          <span class="item-header">{{company.symbol}}</span><br />
          <span class="item-description">{{company.name}}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-xs-9">

    <h4 *ngIf="dayDate" class="col-xs-12 m-t-20 m-b-20">Selected day: {{dayDateFormatted}}</h4>
    <table *ngIf="dayDate" class="table-striped col-xs-12">
      <thead>
        <tr>
          <th>Name</th>
          <th>Low</th>
          <th>High</th>
          <th>Volume</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let company of daily">
          <td [style.color]="company.stroke">{{company.name}}</td>
          <td>{{company.low}}</td>
          <td>{{company.high}}</td>
          <td>{{company.volume}}</td>
        </tr>
      </tbody>
    </table>

    <stock-chart *ngIf="stockChartConfig" [config]="stockChartConfig" (change)="onChartChange($event)"></stock-chart>

    <div class="col-xs-12">
      <div class="col-xs-6 date-picker">
        <span>Start date:</span><br />
        <ng2-datepicker
          (outputEvents)="onChange()"
          [(ngModel)]="startDate"
          [(options)]="startPickerOptions">
        </ng2-datepicker>
      </div>

      <div class="col-xs-6 date-picker">
        <span>End date:</span><br />
        <ng2-datepicker
          (outputEvents)="onChange()"
          [(ngModel)]="endDate"
          [(options)]="endPickerOptions">
        </ng2-datepicker>
      </div>
    </div>
  </div>

  <div class="container">

    <div *ngFor="let stock of activeCompanies" class="col-xs-12 m-t-10">
      <h4>{{stock.settings.name}}</h4>
      <daily-chart [config]="stock" [brush]="brush"></daily-chart>
    </div>

    <div class="col-xs-12 m-t-20">
      <div
        *ngFor="let company of activeCompanies"
        (click)="selectOnTable(company.settings.symbol)"
        class="col-xs-2 table-header m-b-10"
        [style.background-color]="company.settings.symbol === selectedSymbol ? company.settings.stroke : ''">
        {{company.settings.symbol}}
      </div>

      <table *ngIf="selectedSymbol" class="table-striped col-xs-12">
        <thead>
          <tr>
            <th>Date</th>
            <th>Close</th>
            <th>Open</th>
            <th>Low</th>
            <th>High</th>
            <th>Volume</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let company of allStock">
            <td>{{company.date}}</td>
            <td>{{company.y}}</td>
            <td>{{company.open}}</td>
            <td>{{company.low}}</td>
            <td>{{company.high}}</td>
            <td>{{company.volume}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>



